ion-item{
    --ion-item-background:transparent;
    // color: #fff;
    p{
        color: #949494;
    }
}

.album-info{
    // color: #fff;
    margin-left: 10px;
    p{
        font-weight: bold;
    }
}