<ion-header>
  <ion-toolbar [style.--background]="data?.backgroundColor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{data?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <div class="ion-text-center image-box">
    <img [src]="'/assets/images/albums/'+dasherize(data.image) + '.jpg'" alt="">
  </div>
  <ion-row>
    <ion-col size="12" class="album-info">
      <p>{{data.artist}}</p>
      <span>Album {{data.title}} - {{data.released}}</span>
    </ion-col>
    <ion-col size="8" class="ion-text-left ion-no-padding">
      <ion-button fill="clear" class="ion-no-margin">
        <ion-icon name="heart-outline" style="color: #949494" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="arrow-down-circle-outline" style="color: #949494" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="ellipsis-horizontal" style="color: #949494" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-right ion-no-padding">
      <ion-button fill="clear">
        <ion-icon name="play-circle" style="color: #949494" size="large" color="primary"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let item of data.tracks" lines="none">
      <ion-label>{{item.title}}
        <p>{{data.artist}}</p>
      </ion-label>
      <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="light"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
