<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>
      Tab 2
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Artist, songs" style="--border-radius:20px;"></ion-searchbar>
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Tab 2</ion-title> -->
    </ion-toolbar>
  </ion-header>
</ion-content>
