ion-content{
    --padding-top: 40px;
}
.section-header{
    // color: #fff;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
}
ion-slides{
    margin-bottom: 20px;
}
.title{
    font-size: small;
    // color: #fff;
}
ion-slide{
    display: block;
    text-align: left;
}